html {
    overflow-y: scroll;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    background-color: black;
}

h1 {
    margin: 0;
    padding: 20px;
    display:flex;
    justify-content: center;
}

hr {
    margin: 0;
}

nav {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 76, 79);
}

.nav-button {
    margin: 20px;
    padding: 10px;
    border: 2px solid rgb(140, 130, 115);
    background-color: rgb(90, 96, 99);
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#current {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

footer {
    background-color: black;
    text-align: center;
}

body {
    margin: 0;
    background-color:rgb(117, 12, 12);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.csumb-image {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 0;
}

#footer-text {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(172, 169, 165);
}

#footer-text p {
    margin-top: 0;
}